---
import Layout from "@layout/Layout.astro";
---

<Layout>
  <main class="grid place-items-center px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-lg font-semibold text-eastern-blue-600">404</p>
      <h1
        class="mt-4 text-5xl font-semibold text-balance text-cod-gray-900 sm:text-7xl"
      >
        Page not found
      </h1>
      <p
        class="mt-6 text-lg font-medium text-pretty text-cod-gray-500 sm:text-xl"
      >
        Sorry, we couldnt find the page youre looking for.
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          href="/"
          class="rounded-lg border bg-eastern-blue-600 px-4 py-2 text-sm font-semibold border-eastern-blue-600 hover:bg-eastern-blue-500 transition-colors"
          >Go back home</a
        >
      </div>
    </div>
  </main>
</Layout>
