<section id="about" class="bg-red-400">
  <h1 class="text-3xl pb-8">About</h1>
  <p class="pb-8">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ratione
    necessitatibus culpa nisi. Quidem, ab possimus delectus dolores eligendi
    necessitatibus eius incidunt officiis illo maiores saepe aperiam labore
    ducimus iusto. Maiores, nisi ea magni necessitatibus minus exercitationem
    natus officia sequi eaque esse quas veniam harum repellendus. Aliquid, culpa
    laboriosam eligendi eum veniam, odio tempora unde excepturi officiis, sequi
    dolores? Assumenda. Quia tempore accusamus id, aut doloribus iure expedita
    enim possimus animi. Architecto soluta harum minus illum doloribus voluptas
    qui, numquam temporibus quisquam quibusdam deserunt commodi quidem
    doloremque illo, iste deleniti.
  </p>

  <p>
    Atque, illo doloremque? Recusandae totam ipsum quis sapiente culpa possimus,
    blanditiis quas quidem accusamus eveniet ut? Fuga, ducimus. Tempore nisi ab
    placeat facere dolore sapiente asperiores qui consequatur consectetur iure!
    Reprehenderit minima consequatur eaque iure quos vero nostrum asperiores
    nihil tempore ea expedita rerum, dignissimos, sit beatae autem. Perspiciatis
    sit nisi inventore explicabo enim numquam repudiandae incidunt omnis nobis
    facere. Reiciendis, beatae dignissimos. Unde dolore nihil blanditiis
    impedit! Aspernatur explicabo facilis minima laborum beatae vitae quis alias
    consectetur officia voluptate mollitia reiciendis repudiandae dolores, rem
    ad, doloribus error nesciunt molestiae!
  </p>
</section>
